//
//      concrete5 user interface
//
.ccm-ui input, 
.ccm-ui textarea, 
.ccm-ui select, 
.ccm-ui 
.uneditable-input {
    height: 32px;
}


//
// FOUNDATION
//
// Allows the use of rem-calc() or lower-bound() in your settings
@import "foundation/functions";


//
// Own styles
//

$breadcrumbs-margin-top: 30;

.breadcrumbs {
    margin-top: rem-calc($breadcrumbs-margin-top);
}
