/*
 *      concrete5 user interface
 */
.ccm-ui input, 
.ccm-ui textarea, 
.ccm-ui select, 
.ccm-ui 
.uneditable-input {
    height: 32px;
}

$breadcrumbs-margin-top: 30;

.breadcrumbs {
    margin-top: rem-calc($breadcrumbs-margin-top);
}
